<h2>New Booking</h2>
<%= form_with url: bookings_path, method: :post do %>
  <label>You can select up to 3 rooms:</label><br>
  <% @rooms.each do |room| %>
    <%= check_box_tag 'room_ids[]', room.id %> <%= room.name %><br/>
  <% end %>

  <br>
  <label>Start Time:</label>
  <%= datetime_local_field_tag :start_time %><br>

  <label>End Time:</label>
  <%= datetime_local_field_tag :end_time %><br>

  <%= submit_tag "Book Now" %>
<% end %>
